<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
  <div class="container">
      <img src="https://img.icons8.com/ultraviolet/30/000000/documentary.png">

      <a class="navbar-brand" href="/">
        VidJot
      </a>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link left-nav-link" href="/">
              <img src="https://img.icons8.com/office/16/000000/home-page.png">
              Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link left-nav-link" href="/about">
              <img src="https://img.icons8.com/office/16/000000/info.png">
              About</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a 
            href="#" 
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            id="navbarDropdownMenuLink"
          >
              <img src="https://img.icons8.com/office/16/000000/photo-reel.png">
              Video Ideas
          </a>
          <div class="dropdown-menu">
            <a href="/ideas" class="dropdown-item">
                <img src="https://img.icons8.com/office/16/000000/idea.png">
                Ideas
            </a>
            <a href="/ideas/add" class="dropdown-item">
                <img src="https://img.icons8.com/office/16/000000/plus.png">
                Add Ideas
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>