<div class="jumbortron text-center">
    <h1 class="display-3">{{ title }}</h1>
    <p class="lead">
        Jot down ideas for your next YouTube videos
    </p>
    <a href="/ideas/add" class="btn btn-dark btn-lg">
        <img src="https://img.icons8.com/office/30/000000/add-to-favorites.png">
            <span>Add Video Idea</span>
        <img src="https://img.icons8.com/office/30/000000/add-to-favorites.png">
    </a>
</div>