<div class="card card-body">
    <h3>
        <img src="https://img.icons8.com/office/30/000000/add-camera.png">
        Video Idea
    </h3>

    <form action="/ideas" class="mt-3" method="post">
        <div class="form-group">
            <label for="title">
                <img src="https://img.icons8.com/office/20/000000/add-tag.png"> Title
            </label>
            <input 
                type="text" 
                id="title" 
                class="form-control"
                name="title"
            >
        </div>

        <div class="form-group">
            <label for="details">
                <img src="https://img.icons8.com/office/20/000000/resume.png"> Details
            </label>
            <textarea 
                id="details" 
                class="form-control"
                name="details"
            ></textarea>
        </div>

        <div class="form-group">
            <button class="btn btn-dark">
                Submit
                <img src="https://img.icons8.com/office/16/000000/enter-key.png">
            </button>
        </div>
    </form>
</div>